<main>
  <p id="notice"></p>
  <div class="container px-5 px-sm-0">
    <divclass="row">
      <div class="col-md-3">
        <h2>User info</h2>
        <img class="attachment user profile_image follback" src="/assets/noimage.jpg">
        <table class="table">
          <tbody>
            <tr></tr>
            <tr>
              <th>name</th>
              <th><%= @user.name %></th>
            </tr>
            <tr>
              <th><%= @user.introduction %></th>
              <th></th>
            </tr>
          </tbody>
        </table>
        <div class="row">
          <% if @user.id == current_user.id %>
            <p><%= link_to edit_user_path(@user) do %></p>
            <i class="fas fa-user-cog"></i>
          <% end %>
        </div>
        <h1>New Book</h1>
        <%= form_with model: @book, local:true do |f| %>
          <h4>title</h4>
          <%= f.text_field :title %>
          <h4>Opinion</h4>
          <%= f.text_area :body %>
          <%= f.submit 'Create Book' %>
        <% end %>
      </div>
      <div class="col-md-8 offset-md-1">
        <h2>Book detail</h2>
        <table class="table">
          <tbody>
            <% @books.each do |book| %>
             <tr>
               <td><%= attachment_image_tag @user, :profile_image, size: "50x50", fallback: "no_image.jpg" %></td>
               <td><%= book.title %></td>
               <td><%= book.body %></td>
               <td></td>
             </tr>
            <% end %>
          </tbody>
        </table>
      </div>
     </div>
    </div>
   </main>


<% if @user.id == current_user.id %>

 <%= link_to  edit_user_path(@user) do  %>
   <i class="fas fa-user-cog"></i>
 <% end %>

<% end %>


